AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
# AWS_SESSION_TOKEN=your_session_token

KMS_KEY_ID=arn:aws:kms:ap-southeast-1:123456789012:key/00000000-0000-0000-0000-000000000000
S3_BUCKET=your-s3-bucket

# Choose one of KMS_KEY_SPEC or KMS_NUMBER_OF_BYTES.
KMS_KEY_SPEC=AES_256
# KMS_NUMBER_OF_BYTES=32

# Optional.
# KMS_ENCRYPTION_CONTEXT=app=demo,env=dev
# KMS_GRANT_TOKENS=token1,token2
# KMS_DRY_RUN=false
